@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-custom {
  background-image: url('https://img.elo7.com.br/product/600x380/2C5489C/papel-de-parede-vintage-barbearia-barbeiro-sepia-retro-a253-adesivo-barbearia.jpg');
  background-size: cover;
  background-position: center;
}

  .bg-gold {
      background-color: #d4af37;
    }
    .text-gold {
      color: #d4af37;
    }
    .border-gold {
      border-color: #d4af37;
    }

    .service-card {
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .service-card:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .info-card {
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .info-card:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

/* Adicione isso ao seu CSS */
.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* Mude a cor e a opacidade conforme necessário */
}
