.bg-custom {
  background-image: url('https://img.elo7.com.br/product/600x380/2C5489C/papel-de-parede-vintage-barbearia-barbeiro-sepia-retro-a253-adesivo-barbearia.jpg');
  background-size: cover;
  background-position: center;
}